<p id="notice"><%= notice %></p>

<!-- <%= link_to "Perfil", perfil_show_path, class: "btn btn-default" %> -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-right page-header">
      <h2><strong>Autor</strong></h2>
      <h2><%= @status.user.nombre_completo %></h2>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 well">
      <p><%= @status.contenido %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= link_to 'Edit', edit_status_path(@status) %> |
      <%= link_to 'Back', statuses_path %>
    </div>
  </div>
</div>
